body, html{
       font-family: 'Pacifico', cursive;
        background: url(lap.jpg) no-repeat center center fixed; 
        background-size: cover;
        height: 100%;
        width:100%;
      }

     
h1{
    color: #FFF5EE;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    
}   
.btn{
    font-weight: 100;
    padding:15px;
    border-radius: 300px;
    text-transform: uppercase;
    background-color: darkblue;
    border-color: darkblue;
    max-width: 220px;
    

}  
.btn:hover{
    border-width: 5px;
}
.buffer{
    height: 300px;
}

